<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="BookStoreEntities" connectionString="metadata=res://*/Orders.OrderDetail.csdl|res://*/Orders.OrderDetail.ssdl|res://*/Orders.OrderDetail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BookStore;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Project1.Properties.Settings.BookStoreConnectionString"
      connectionString="Data Source=.;Initial Catalog=BookStore;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>